/node_modules
/packages
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
todo.md
.env.sandbox
legacy/migrate.sh
legacy/taces2_serienguide.sql
legacy/local_serienguide.sql
